body {
    font-size: 16px;
    font-weight: 300;
}

header {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    background-color: #222222;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
}

@media (min-width: 768px) {
    header {
        height: 100%;
        width: 100%;
        padding: 0;
        background-attachment: scroll;
    }
}

@media (min-width: 1025px) {
    header {
        background-attachment: fixed;
    }
}

.navbar-fixed-top {
    margin-bottom: 0;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-default.navbar-expanded, .navbar-inverse.navbar-expanded {
        background: transparent;
        border: none;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-top.navbar-expanded {
        padding: 30px 0;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding 0.5s;
        -moz-transition: padding 0.5s;
        transition: padding 0.5s;
    }
}

@media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0;
    }
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

nav li a, .navbar-inverse .navbar-nav li a {
    color: white;
}

.navbar .navbar-nav li a:focus {
    outline: none;
}

.navbar-default .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
    .mj-notice {
        display: none;
    }
}

@media (max-width: 767px) {
    header {
        display: none;
    }
}

.mj-notice {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}